@import "tailwindcss";
@plugin "daisyui";
@import url("https://fonts.googleapis.com/css2?family=Give+You+Glory&display=swap");

@theme {
  --color-green-500: #ff6347;
  --font-glory: "Give You Glory", cursive;
}

img {
  width: 100%;
  height: 100%;
}

@layer components {
  .btn-primary {
    @apply px-4 py-2 bg-green-600 text-white font-semibold rounded-lg 
           hover:bg-blue-700 active:bg-blue-800 transition;
  }

  .card {
    @apply max-w-[400px] bg-white border border-gray-200 rounded-xl shadow-xl overflow-hidden;
  }
  .card-img {
    @apply h-[300px] w-full;
  }
  .img {
    @apply w-full h-full object-cover;
  }
  .card-body {
    @apply p-4 space-y-3;
  }
  .card-title {
    @apply font-glory font-bold text-3xl;
  }
  .card-text {
    @apply text-gray-600 text-justify;
  }
}
